.recentSearches {
  margin-top: 20px;
  text-align: center;
}

.recentSearches__btn {
  background-color: #fcfcfc;
  border: 0;
}

.recentSearch__item {
  background-color: #fcfcfc;
  border: 0;
  margin: 0 20px;
  padding: 20px;
  cursor: pointer;
}

.search {
  width: 600px;
  margin: 20px auto 0;
}

.search__bar {
  position: relative;
  padding-bottom: '0px';
}

.search__input,
.search__input:focus,
.search__input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.search__item {
  padding: 10px;
  color: #555;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

.search__autocomplete_container {
  position: absolute;
  width: 100%;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}
